Flask==3.0.0
gunicorn==20.1.0
keras>=2.15.0,<2.16.0  # Or remove this line if not needed
nltk==3.8.1
numpy>=1.23.5
tensorflow==2.15.0
spacy==3.7.2
spacy-langdetect==0.1.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
transformers==4.35.2
